@charset "utf-8";
body,
dd,
dl,
h1,
h2,
h3,
h4,
ol,
p,
ul {
    margin: 0;
    padding: 0
}

.logo,
.web-h1 {
    overflow: hidden
}

body,
html {
    height: auto;
    background-color: #fafafa
}

body,
button,
input,
label,
option,
select,
textarea {
    font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53,\9ED1\4F53', sans-self;
    font-size: 14px;
    color: #333
}

a,
a:active,
a:focus,
img {
    border: none;
    outline: 0
}

img {
    vertical-align: top
}

ol,
ul {
    list-style: none
}

b,
em,
i,
strong {
    font-size: 100%;
    font-style: normal;
    font-weight: 400
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,
form,
input,
label,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    outline: 0
}

input,
select {
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0
}

.clearfix {
    zoom: 1
}

a {
    text-decoration: none;
    color: #696969
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background: #f5f5f5
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 6px;
    background: #f5f5f5
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: #666
}

.web-h1 {
    width: 100%;
    height: 0
}

.head-main {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0
}

.logo,
.nav {
    height: 46px
}

.logo,
.nav,
.nav-main-link {
    position: relative
}

.logo {
    display: block;
    width: 380px;
    z-index: 12;
    top: 22px;
    left: 140px;
}
.logo img{
    left: 200px;
}

.nav {
    width: 1200px;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 50%;
    margin-left: -550px;
    padding-top: 18px;
    text-align: right;
}

.nav-main-link {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin: 0 20px;
    font-size: 18px;
    color: #333;
    overflow: hidden
}

.nav-main-link b {
    display: block;
    width: 0;
    position: absolute;
    z-index: 13;
    bottom: 0;
    height: 1px;
    left: 0;
}

.cur,
.nav-main-link:active,
.nav-main-link:hover {
    color: #ff6000
}

.nav-main-link.cur b,
.nav-main-link:hover b {
    display: block;
    bottom: 0;
    width: 100%;
    background: #ff6000;
    left: 0;
}

.nav-main-link:hover b {
    width: 100%;
    -webkit-transition: width .4s;
    transition: width .4s
}

.add-fixed {
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0
}

.baner-main,
.service {
    width: 100%;
    position: relative
}

.baner-main {
    display: none;
    margin-top: 90px
}

.service {
    height: 540px;
    text-align: center
}

.service-title {
    padding-top: 80px
}

.service-title h2 {
    font-size: 30px;
    margin-bottom: 18px
}

.service-title p {
    font-size: 24px;
    color: #999
}

.service-operation {
    display: none;
    margin-top: 60px;
    font-size: 24px
}

.service-operation ul {
    width: 1050px;
    margin: 0 auto;
    padding-left: 40px
}

.custom,
.partner {
    width: 100%;
    position: relative;
    text-align: center
}

.service-operation li {
    float: left;
    padding: 0 10px;
    cursor: pointer
}

.service-operation h3 {
    margin-top: 30px;
    color: #999
}

.service-operation a:hover h3 {
    color: #666
}
.service-operation .service-xj,
.service-operation .service-fk,
.service-operation .service-zc,
.service-operation .service-fw{
    transition: background .4s linear;
}
.service-operation .service-xj:hover{
    background: url(../static/image/se1.png) no-repeat 14px center;
}
.service-operation .service-xj{
    width: 214px;
    height: 200px;
    background: url(../static/image/s1.png) no-repeat 14px center;
}
.service-operation .service-fk:hover{
    background: url(../static/image/se2.png) no-repeat center center;
}
.service-operation .service-fk{
    width: 200px;
    height: 200px;
    background: url(../static/image/s2.png) no-repeat center center;
}
.service-operation .service-zc:hover{
    background: url(../static/image/se3.png) no-repeat center center;
}
.service-operation .service-zc{
    width: 200px;
    height: 200px;
    background: url(../static/image/s3.png) no-repeat center center;
}
.service-operation .service-fw:hover{
    background: url(../static/image/se4.png) no-repeat center center;
}
.service-operation .service-fw{
    width: 200px;
    height: 200px;
    background: url(../static/image/s4.png) no-repeat center center;
}
.custom {
    height: 418px;
    background: url(../static/image/bg-cust.jpg) center center no-repeat
}

.custom-case {
    margin-top: 60px
}

.custom-case a:hover img{
    transition-duration: .5s;
    box-shadow: 5px 5px 5px #c0c0c0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}
.partner-case a:hover img {
    transition-duration: .5s;
    box-shadow: 5px 5px 5px #e0e0e0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}
.custom-case a img{
    width: 180px;
    height: 130px;
}
.custom-case a img,
.partner-case a img{
    transition-duration: .5s;
    cursor: pointer;
}
.partner-case a img{
    width: 192px;
    height: 77px;
}
.partner {
    height: 366px
}

.footer,
.introduce {
    width: 100%;
    position: relative;
    text-align: center
}



.partner .partner-case {
    padding-top: 60px
}

.footer {
    height: 384px;
    background: url(../static/image/ft_bg.jpg) center center no-repeat
}

.footer .service-title {
    padding-top: 60px;
    color: #fff
}

.footer .service-title p {
    color: #fff;
    font-weight: 200
}

.footer .copyright {
    position: relative;
    font-size: 18px;
    top: 6px;
    font-weight: 0;
    color: #fff
}

.footer .footer-info {
    margin-top: 24px;
    margin-bottom: 86px;
    font-size: 18px;
    color: #fff
}
.footer-info a{
    font-size: 18px;
    color: #fff;
}
.contact-opt a:hover,
.footer-info a:hover{
    text-decoration: underline;
}

.footer-info p {
    margin-bottom: 20px
}

.modaAanimation .baner-main,
.modaAanimation .business,
.modaAanimation .contact,
.modaAanimation .fee,
.modaAanimation .introduce,
.modaAanimation .products,
.modaAanimation .service,
.modaAanimation .service-operation,
.modaAanimation .sub_info {
    display: block;
    -webkit-animation: huoanimate 1s both;
    -moz-animation: huoanimate 1s both;
    animation: huoanimate 1s both
}

.introduce {
    height: 472px;
    background: url(../static/image/introduce_bg.jpg) center center no-repeat
}

.aspiration p,
.introduce-content p {
    text-indent: 30px;
    line-height: 22px
}

.introduce-content {
    width: 980px;
    margin: 40px auto;
    font-size: 16px;
    text-align: left
}

.aspiration {
    width: 100%;
    height: 406px;
    position: relative;
    text-align: center;
    background: url(../static/image/hope.jpg) center center no-repeat
}

.advantage,
.quelity {
    height: 400px;
    position: relative;
    text-align: center
}

.aspiration-content {
    width: 980px;
    margin: 40px auto;
    font-size: 16px;
    text-align: center
}

.advantage {
    width: 100%
}

.aspiration h2,
.aspiration p {
    color: #fff
}

.advantage-operation ul {
    width: 1000px;
    margin: 60px auto;
    padding-left: 90px
}

.advantage-operation li {
    float: left;
    padding: 0 44px;
    cursor: pointer
}

.advantage-operation li h3 {
    margin-top: 16px
}

.quelity {
    width: 100%;
    background-color: #f3f3f3
}

.quelity h3 {
    font-size: 50px
}

.products {
    width: 1080px;
    margin: 0 auto;
    padding: 80px 0
}

.products a {
    display: block;
    width: 346px;
    height: 450px;
    margin: 0 4px 16px;
    position: relative;
    transition: bottom .3s linear;
    float: left;
    overflow: hidden;
    cursor: pointer
}
.products a img:first-child{
    width:346px;
    height:450px;
}
.products a img:last-child{
    width:56px;
    height:56px;
}
.pro-mask,
.products a:hover .pro-mask {
    width: 346px;
    height: 450px;
    margin-top: -450px;
    transition-duration: .5s;
    position: absolute
}

.pro-mask {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0)
}

.products a:hover .pro-mask {
    background-color: rgba(0, 0, 0, .7);
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s
}

.products a span {
    width: 100%;
    height: 78px;
    line-height: 78px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 51;
    left: 0;
    bottom: 0;
    font-size: 24px;
    color: #fff;
    text-indent: 34px
}

.products a span img {
    z-index: 51;
    padding: 10px 20px 0
}

.products a i:after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background: #ff6000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 52;
    transition: width .3s linear
}

.dec h4 {
    font-size: 18px;
    margin-bottom: 20px
}

.products .dec {
    position: absolute;
    width: 145px;
    margin-top: -320px;
    margin-left: 100px;
    text-align: center;
    z-index: 100;
    transition-duration: .5s;
    opacity: 0;
    color: #fff
}

.products a:hover .dec {
    transition-duration: .5s;
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px)
}

.business a,
.business a:hover {
    transition: transform .3s linear;
    cursor: pointer
}

.products a:hover i:after,
.products span:hover i:after {
    width: 100%
}

.business {
    width: 1080px;
    margin: 0 auto;
    padding: 80px 0
}

.business a {
    display: block;
    width: 310px;
    height: 210px;
    margin: 0 10px 16px;
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.business a:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.business a h4 {
    position: absolute;
    width: 326px;
    bottom: 30px;
    z-index: 100;
    color: #fff;
    font-size: 18px
}

.fill {
    height: 190px;
    width: 310px;
    margin-top: -252px;
    position: absolute;
    background-color: rgba(255, 96, 0, 0);
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s
}

#container,
.contact .contact-opt,
.map .map-des {
    position: relative
}

a:hover .fill {
    background-color: rgba(255, 96, 0, .2)
}

.contact {
    width: 850px;
    margin: 0 auto;
    padding: 80px 0
}

.contact .contact-opt {
    display: block;
    width: 254px;
    height: 208px;
    margin: 0 14px 16px;
    transition: bottom .3s linear;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.contact p {
    margin-top: 20px;
    font-size: 18px
}
.contact p .contact-opt{
    display: inline;
    width: auto;
    height: auto;
    margin: 0;
}

.map-content {
    width: 100%;
    height: 480px;
    background-color: #f1f1f1;
}

.fee table,
.fee-content {
    background-color: #fafafa;
}

#container {
    top: -20px;
    left: 20px;
    width: 600px;
    height: 400px
}

.map {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px
}

.fee h3,
.fee table {
    width: 500px;
    text-align: center
}

.map .map-des {
    top: -320px;
    left: 50px;
    padding-left: 36px;
    margin-left: 600px;
    color: #616060;
    font-size: 16px
}

.map-des img {
    position: absolute;
    left: 0;
    padding-top: 8px
}

.map-des img:first-child {
    padding-top: 20px
}

.fee table {
    height: 238px;
    margin-top: 60px;
    border: 1px solid #bab9b9;
    color: #999;
    font-size: 16px;
    position: absolute
}

.fee {
    padding-top: 80px
}

.fee h3 {
    font-size: 24px
}

.fee-content {
    width: 1000px;
    height: 550px;
    margin: 0 auto
}

.fee table th {
    background-color: #999;
    color: #fff
}

.sub_info {
    right: 220px;
    text-align: center;
    margin-top: -30px
}

.sub_info h3 {
    font-size: 24px;
    margin-left: 600px
}

.sub_info span {
    position: relative;
    font-size: 18px;
    color: #999;
    top: 2px
}

.sub_info input {
    border: 1px solid #ffcfb2;
    padding: 0 10px
}

.sub_info form {
    padding-top: 60px;
    text-align: right;
    margin-right: 20px;
}

.sub_info form div {
    margin-bottom: 16px
}

.sub_info form input {
    width: 240px;
    height: 24px
}

.sub_info .sub-button {
    display: block;
    width: 170px;
    height: 38px;
    margin-left: 750px;
    line-height: 38px;
    border-radius: 4px;
    background: #ff6000;
    font-size: 18px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti
}

.price {
    width: 792px
}

@-webkit-keyframes huoanimate {
    from {
        opacity: 0;
        -webkit-transform: translateY(100px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes huoanimate {
    from {
        opacity: 0;
        -moz-transform: translateY(100px)
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-ms-keyframes huoanimate {
    from {
        opacity: 0;
        transform: translateY(100px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
.phone-logo,
.top-berger,
.phone-nav{
    display: none;
}
.copyright-phone{
    display: none;
}

/*手机*/

@media only screen  
    and (min-device-width : 320px)  
    and (max-device-width : 736px) {  
    /* Styles */ 
    .logo {
        z-index: 12;
        top: 22px;
        left: 30px;
        width:180px;
    }
    .logo img{
        left: 20px;
    }
    .phone-logo{
        display: block;
        height: 26px;
    }
    .nav,
    .pc-logo{
        display: none;
    }
    .phone-nav{
        position: absolute;
        background:rgba(240,100,30,.96);
        display: none;
        right: 5px;
        top:70px;
        padding: 20px;
    }
    .phone-nav div{
        height: 30px;
    }
    .phone-nav a{
        line-height: 30px;
        color: #fff;
    }
    .top-berger{
        display: block;
        position: absolute;
        top:26px;
        right: 20px;
    }
    .head-main {
        height: 70px;
    }
    .baner-main {
        margin-top: 70px;
    }
    .service {
        height: 460px;
        text-align: center;
    }
    .service-operation ul {
         width: 280px;
        margin: 10 auto;
        padding-left: 2rem;
    }
    .service-title {
        padding-top: 30px;
    }
    .service-operation {
        display: none;
        margin-top: 10px;
        font-size: 24px;
    }
    .service-operation .service-xj,
    .service-operation .service-fk,
    .service-operation .service-zc,
    .service-operation .service-fw{
        transition: background .4s linear;
    }
    .service-operation .service-xj:hover{
        background: url(../static/image/se1.png) no-repeat center center;
        background-size: 7rem 7rem;
    }
    .service-operation .service-xj{
        width: 7rem;
        height: 7rem;
        background: url(../static/image/s1.png) no-repeat center center;
        background-size: 7rem 7rem;
    }
    .service-operation .service-fk,
    .service-operation .service-fw,
    .service-operation .service-zc,
    .service-operation .service-zc:hover,
    .service-operation .service-fw:hover,
    .service-operation .service-fk:hover{
        width: 7rem;
        height: 7rem;
        background-size: 7rem 7rem;
    }
    .service-operation h3 {
        margin-bottom: 30px;
        color: #999;
        font-size: 14px;
    }
    .service-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .service-title p {
        font-size: 18px;
        color: #999;
    }
    .custom-case a {
        display: inline-block;
        padding: 4px;
    }
    .custom-case a img{
        width: 130px;
        height: auto;
    }
    .partner .partner-case {
        padding-top: 10px;
    }
    .custom-case {
        margin-top: 10px;
    }
    .partner {
        height: 630px;
    }
    .partner-case a img {
        width: 220px;
        height: auto;
    }
    .partner-case a {
        display: inline-block;
        padding: 6px;
    }
    .footer .footer-info {
        margin: 0;
        padding-top: 10px;
    }
    .footer {
        height: 100px;
        background: url(../static/image/ft_bg.jpg) center -180px no-repeat;
    }
    .footer .service-title {
        display: none;
        padding-top: 10px;
        color: #fff;
    }
    .footer .service-title h2,
    .service-title p {
        font-size: 12px;
    }
    
    .footer-info a,
    .footer-info p {
        margin-bottom: 4px;
        font-size: 12px;
    }
    .copyright-phone{
        position: relative;
        margin-top: 10px;
        font-size: 12px;
        color: #fff;
        display: block;
        font-weight: 0;
    }
    .footer .copyright {
        display: none;
    }
    .business {
        width: auto; 
        margin: 0 auto;
        padding: 10px 0;
    }
    .business a {
        display: block;
        width: 100%;
        height: 210px;
        margin: 16px 0;
        position: relative;
        float: left;
        overflow: hidden;
        text-align: center;
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .fill {
        height: 0;
    }
    .introduce,
    .quelity {
        height: auto;
    }
    .introduce-content {
        width: 90%;
        margin: 10px auto;
        font-size: 14px;
        text-align: left;
    }
    .advantage{
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
    }
    
    .advantage-operation ul {
        width: 16rem;
        margin: 10px auto;
        padding: 0;
    }
    .advantage-operation li{
        width: 64px;
        padding: 10px 30px;
    }
    .aspiration-content {
        width: 100%;
        margin: 20px auto;
        font-size: 16px;
        text-align: center;
    }
    .quelity h3 {
        font-size: 24px;
    }
    .products{
        width: 100%;
        padding: 10px 0;
    }
    .products a {
        display: block;
        width: 47%;
        height: 270px;
        margin: 4px;
        position: relative;
        transition: bottom .3s linear;
        float: left;
        overflow: hidden;
        cursor: pointer;
    }
    .dec h4 {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .products a img:first-child {
        width: 193px;
        height: 298px;
    }
    .products a span img:last-child{
        display: none;
    }
    .contact {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .contact .contact-opt {
        display: block;
        width: 24%;
        height: 160px;
        margin: 0 14px 16px;
        transition: bottom .3s linear;
        float: left;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }
    .products .dec {
        position: absolute;
        width: 145px;
        margin-top: -220px;
        margin-left: 0px;
        text-align: center;
        z-index: 100;
        transition-duration: .5s;
        opacity: 0;
        color: #fff;
    }
    .products a span{
        padding-left: 0px;
        font-size: 18px;
    }
    .products a img:first-child {
        width: 100%;
        height: 100%;
    }
    .contact p {
        margin-top: 10px;
        font-size: 14px;
    }
    .contact-opt img:first-child{
        width: 50px;
        height: 50px;
    }
    .map-content{
        height: 440px;
        font-size: 14px;
    }
    .map {
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .map .map-des {
        top: 20px;
        left: 20px;
        width: 200px;
        padding-left: 36px;
        margin-left: 10px;
        color: #616060;
        font-size: 12px;
    }
    #container {
        top: 0px;
        left: 20px;
        width: 88%;
        height: 220px;
    }
    
    .fee-content {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .sub_info{
        right: 0;
        text-align: center;
        margin-top: -30px;
    }
    .sub_info span {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .sub_info form div {
        margin-bottom: 6px;
    }
    .sub_info form {
        text-align: left;
        padding: 12px 28px;
    }
   
    .sub_info form input {
        width: 93%;
        height: 24px;
        margin-top: 6px;
    }
    .fee h3{
        font-size: 16px;
    }
    .fee{
        padding-top: 10px;
    }
    .fee h3, .fee table {
        width: 98%;
        margin-left: 5px;
    }
    .fee table {
        height: 238px;
        margin-top: 10px;
        border: 1px solid #bab9b9;
        color: #999;
        font-size: 14px;
        position: absolute;
    }
    .sub_info h3 {
        font-size: 24px;
        margin: 0;
        font-size: 16px;
        margin-top:300px; 
    }
    .price {
        width: 100%;
    }
    .sub_info .sub-button {
    display: block;
    width: 100%;
    height: 30px;
    margin-left: 0;
    line-height: 30px;
    border-radius: 4px;
    background: #ff6000;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}
.pro-mask {
    width: 100%;
    height: 100%;
    margin-top: -300px;
    transition-duration: .5s;
    position: absolute;
}
.products .dec{
    position: absolute;
    width: 100%;
    margin-top: -220px;
    margin-left: 0px;
    text-align: center;
    z-index: 100;
    transition-duration: .5s;
    opacity: 0;
    color: #fff;
}
.advantage-operation li h3 {
    margin-top: 16px;
    font-size: 14px;
}

}  

@media only screen  
    and (min-device-width : 412px)  
    and (max-device-width : 736px) { 
        .service-operation ul {
            width: auto;
           margin: 10 auto;
           padding-left: 5rem;
       }
       .advantage-operation li {
            width: 64px;
            padding: 10px 46px;
        }
        .contact .contact-opt {
            width: 26%;
           height: 150px;
        }
        .footer .footer-info {
            margin: 0;
            padding-top: 15px;
        }
        .products a span img:last-child{
            display: none;
        }
        .advantage-operation ul {
            width: 20rem;
            margin: 10px auto;
            padding: 0;
        }
    }
    
    @media only screen  
    and (min-device-width : 768px)  
    and (max-device-width : 1024px) {  
        .logo {
            z-index: 12;
            top: 22px;
            left: 30px;
            width:180px;
        }
        .logo img{
            left: 20px;
        }
        .phone-logo{
            display: block;
            height: 26px;
        }
        .nav,
        .pc-logo{
            display: none;
        }
        .phone-nav{
            position: absolute;
            background:rgba(240,100,30,.96);
            display: none;
            right: 5px;
            top:90px;
            padding: 20px;
        }
        .head-main {
            width: 100%;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .advantage-operation ul {
            width: 100%;
            margin: 60px auto;
            padding: 0px;
        }
        .phone-nav div{
            height: 30px;
        }
        .introduce-content {
            width: 90%;
            margin: 20px auto;
            font-size: 16px;
            text-align: left;
        }
        .advantage-operation li {
            float: left;
            padding: 0 26px;
            cursor: pointer;
        }
        .service-operation li {
            float: left;
            width: 15%;
            padding: 0 20px;
            cursor: pointer;
        }
        .aspiration-content {
            width: 100%;
            margin: 40px auto;
            font-size: 16px;
            text-align: center;
        }
        .quelity{
            height: 300px;
        }
        .phone-nav a{
            line-height: 30px;
            color: #fff;
        }
        .top-berger{
            display: block;
            position: absolute;
            top:26px;
            right: 20px;
        }
        
        .business {
            width: 100%;
            margin: 0 auto;
            padding: 20px 0;
        }
        .custom-case a img {
            width: 270px;
            height: auto;
        }
        .custom {
            height: 530px;
            background: url(../static/image/bg-cust.jpg) center center;
        }
        .service-title {
            padding-top: 20px;
        }
        .custom-case {
            margin-top: 20px;
        }
        .partner{
            height: 236px;
        }
        .partner .partner-case {
            padding-top: 20px;
        }
        .products {
            width: 100%;
            margin: 0 auto;
            padding: 20px 0;
        }
        .business a {
            display: block;
            width: 100%;
            height: 210px;
            margin: 0 10px 16px;
            position: relative;
            float: left;
            overflow: hidden;
            text-align: center;
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        .fill{
            display: none;
        }
        .fee-content {
            width: 100%;
            height: 410px;
            margin: 0 auto;
        }
        .price {
            width: 72%;
        }
        .products a {
            display: block;
            width: 32%;
            margin: 6px;
            position: relative;
            transition: bottom .3s linear;
            float: left;
            overflow: hidden;
            cursor: pointer;
        }
        .products a {
            display: block;
            width: 31%;
            margin: 8px;
            position: relative;
            transition: bottom .3s linear;
            float: left;
            overflow: hidden;
            cursor: pointer;
        }
        .products .dec {
            position: absolute;
            width: 100%;
            margin-top: -320px;
            margin-left: 0;
            text-align: center;
            z-index: 100;
            transition-duration: .5s;
            opacity: 0;
            color: #fff;
        }
        .products a img:last-child {
            display: none;
        }
        .products a span {
            width: 100%;
            height: 78px;
            line-height: 78px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            z-index: 51;
            bottom: 0;
            padding-left: 30px;
            font-size: 24px;
            color: #fff;
            text-indent: 34px;
        }
        .map .map-des {
            top: -220px;
            left: 0px;
            padding-left: 36px;
            margin-left: 350px;
            color: #616060;
            font-size: 16px;
        }
        .map {
            width: 100%;
            margin: 0 auto;
        }
        .contact{
            width:100%;
        }
        .advantage,
        .introduce
        {
            height: 330px;
        }
        #container {
            top: -20px;
            left: 20px;
            width: 300px;
            height: 200px;
        }
        .map .map-des {
            top: -220px;
            padding-left: 36px;
            margin-left: 350px;
            color: #616060;
            font-size: 16px;
        }
        .map-content {
            width: 100%;
            height: 280px;
            background-color: #f1f1f1;
        }
        .service-operation ul {
            width: 100%;
            margin: 0 auto;
            padding-left: 70px;
        }
        .service {
            height: 400px;
            text-align: center;
        }
        .service-operation {
            display: none;
            margin-top: 30px;
            font-size: 24px;
        }
        .service-operation .service-xj,
        .service-operation .service-fk,
        .service-operation .service-zc,
        .service-operation .service-fw{
            transition: background .4s linear;
        }
        .service-operation .service-xj:hover{
            background: url(../static/image/se1.png) no-repeat center center;
            background-size: 7rem 7rem;
        }
        .service-operation .service-xj{
            width: 7rem;
            height: 7rem;
            background: url(../static/image/s1.png) no-repeat center center;
            background-size: 7rem 7rem;
        }
        .service-operation .service-fk,
        .service-operation .service-fw,
        .service-operation .service-zc,
        .service-operation .service-zc:hover,
        .service-operation .service-fw:hover,
        .service-operation .service-fk:hover{
            width: 7rem;
            height: 7rem;
            background-size: 7rem 7rem;
        }
        .contact .contact-opt {
            display: block;
            width: 29%;
            height: auto;
            margin: 0 14px 16px;
            transition: bottom .3s linear;
            float: left;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
        }
        .custom {
            height: 730px;
            background: url(../static/image/bg-cust.jpg) center center;
        }
        .partner {
            height: 336px;
        }
        .fee h3, .fee table {
            width: 300px;
            margin-left: 20px;
        }
        .sub_info h3 {
            font-size: 24px;
            margin-left: 300px;
        }
        .sub_info .sub-button {
            display: block;
            width: 170px;
            height: 38px;
            margin-left: 450px;
            line-height: 38px;
            border-radius: 4px;
            background: #ff6000;
            font-size: 18px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
        }
        .fee {
            padding-top: 20px;
        }
        .sub_info form {
            padding-top: 30px;
            text-align: right;
            margin-right: 20px;
        }
        .fee table {
            height: 238px;
            margin-top: 30px;
            border: 1px solid #bab9b9;
            color: #999;
            font-size: 16px;
            position: absolute;
        }
    }
    @media only screen  
    and (min-device-width : 1024px)  
    and (max-device-width : 1366px) {  
        .advantage-operation li {
            float: left;
            padding: 0 52px;
            cursor: pointer;
        }
        .sub_info .sub-button {
            display: block;
            width: 170px;
            height: 38px;
            margin-left: 50rem;
            line-height: 38px;
            border-radius: 4px;
            background: #ff6000;
            font-size: 18px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
        }
        .sub_info h3 {
            font-size: 24px;
            margin-left: 600px;
        }
        .fee h3, .fee table {
            width: 500px;
            margin-left: 20px;
        }
        .price {
            width: 79%;
        }
    }